@import url('https://fonts.googleapis.com/css?family=Eater&display=swap');

*  {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #7349AC;
}

.letters {
    font-family: 'Eater', cursive;
    font-size: 3em;
    letter-spacing: 8px;
    color: #fa6701;
}

.wrapper {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Stick figure */
.wrapper figure svg > * {
    opacity: 0;
}

.wrapper figure svg #ground             { opacity: 1; }
.wrapper figure.scaffold svg #scaffold  { opacity: 1; }
.wrapper figure.head     svg #head      { opacity: 1; }
.wrapper figure.body     svg #body      { opacity: 1; }
.wrapper figure.arms     svg #arms      { opacity: 1; }
.wrapper figure.legs     svg #legs      { opacity: 1; }




@media only screen and (max-width: 600px) {
    body {
        height: 80vh;
    }

    h1 {
        text-align: center;
        letter-spacing: 6px;
    }
}

@media only screen and (max-width: 768px) {
}